button {
    height: 80px;
    width: 200px;
    background-color: yellow;
}

.btn-block {
    height: 150px;
    background-color: grey;
    padding-top: 1%;
    padding-left: 1%;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}